<h3>Welcome to Collooking</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<p>Collooking is the essentail app for college students and other beginning cooks to learn the secrets of that strange room where the microwave is located.</p>